[user]
	name = Juan Alberto Raya
	email = 22559891+Juanal07@users.noreply.github.com
	username = Juanal07
	signingkey = E91A31C83E566CD6
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = nvim
[push]
  autoSetupRemote = true
[alias]
	a = add --all
	ai = add -i
	r = restore
	b = branch

	c = commit
	ca = commit -a
	cm = commit -m

	cl = clone

	f = fetch
	fo = fetch origin
	fu = fetch upstream

	l = log --oneline
	lg = log --oneline --graph --decorate

	o = checkout

	ps = push

	pso = push origin

    m = merge
	pl = pull

	s = status
[pull]
	rebase = false
[init]
  defaultBranch = master
[safe]
	directory = /home/juan/.local/src/st-juan
	directory = /home/juan/.local/src/st-juan
