[user]
	name = Juan Alberto Raya
	email = 22559891+Juanal07@users.noreply.github.com
	username = Juanal07
	signingkey = E91A31C83E566CD6
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = nvim
[push]
  autoSetupRemote = true
[alias]
  s = status
  a = add --all
  l = log --oneline
  lg = log --oneline --graph --decorate
  pl = pull
  cl = clone
  ai = add -i
  m = merge
  r = restore
  b = branch
  c = commit
  ca = commit -a
  cm = commit -m
  f = fetch
  fo = fetch origin
  fu = fetch upstream
  o = checkout
  ps = push
  pso = push origin
[pull]
	rebase = false
[init]
  defaultBranch = main
[safe]
	directory = /home/juan/.local/src/st-juan
	directory = /home/juan/.local/src/st-juan
