ACTION=="add", SUBSYSTEM=="input", ATTRS{idVendor}=="00000000-deca-fade-deca-deafdecacaff", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/juan/.Xauthority", RUN+="/usr/bin/su juan -c '/home/juan/.local/bin/notify'"


