[Unit]
Description=XScreenSaver
After=graphical.target

[Service]
User=juan
Environment=DISPLAY=:0
ExecStart=/usr/bin/xscreensaver -no-splash
ExecReload=/usr/bin/xscreensaver-command -restart
ExecStop=/usr/bin/xscreensaver-command -exit

[Install]
WantedBy=graphical.target
